core/__pycache__
models/__pycache__
train/__pycache__
train/logs
train/evaluation
train/sim_out.json
utils/__pycache__
python/__pycache__
train/.idea
train/distributed/__pycache__
*.o
*.mk
*.rsp
*.tmw
*.dmr
*.txt
*.cxx
*.out
*.h5
*.p
*.mexa64
.vscode
*.pkl
.git*
